# Python
*.pyc
*~
__pycache__
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Virtual Environment
df_venv/
ENV/

# Django
*.log
db.sqlite3
media/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# Environment variables
.env

# Static files collected
staticfiles/

# Database backups
*.sql
*.sqlite3-journal
*.json

# System Files
.DS_Store
Thumbs.db
